/HelloWorld/nbproject/private/
/HelloWorld/build/
/Xau_ky_tu/J03004_ChuanHoa_XauKyTu_1/nbproject/private/
/Xau_ky_tu/J03005_ChuanHoa_XauKyTu_2/nbproject/private/
/Xau_ky_tu/J05018_Bang_diem_HocSinh/nbproject/private/
/Xau_ky_tu/J05018_Bang_diem_HocSinh/build/
/Xau_ky_tu/J05020_SapXep_SinhVien_theolop/nbproject/private/
/Xau_ky_tu/J05021_SapXep_SinhVien_theoma/nbproject/private/
/Xau_ky_tu/J05022_LietKe_SinhVien_theoLop/build/
/Xau_ky_tu/J05023_LietKe_SinhVien_theoKhoa/nbproject/private/
/Xau_ky_tu/J05023_LietKe_SinhVien_theoKhoa/build/
/Xau_ky_tu/J05024_LietKe_SinhVien_theoNganh/nbproject/private/
/Mang doi tuong/J05081_Danh_sach_mat_hang/nbproject/private/
/Mang doi tuong/J05081_Danh_sach_mat_hang/build/
/Mang doi tuong/J05033_Sap_xep_thoi_gian/nbproject/private/
/Mang doi tuong/J05033_Sap_xep_thoi_gian/build/
/Mang doi tuong/J05024_LietKe_SinhVien_theoNganh/build/
/Mang doi tuong/J05025_Sap_xep_ds_GiangVien/nbproject/private/
/Mang doi tuong/J05025_Sap_xep_ds_GiangVien/build/
/Mang doi tuong/J05026_DanhSach_GiangVien_theoBoMon/nbproject/private/
/Mang doi tuong/J05026_DanhSach_GiangVien_theoBoMon/build/
/Mang doi tuong/J05027_Tim_kiem_GiangVien/nbproject/private/
/Mang doi tuong/J05027_Tim_kiem_GiangVien/build/
/Mang doi tuong/J05034_DanhSach_ThucTap_1/nbproject/private/
/Mang doi tuong/J05034_DanhSach_ThucTap_1/build/
/Mang doi tuong/J05043_TinhThuNhap_NhanVien/nbproject/private/
/Mang doi tuong/J05043_TinhThuNhap_NhanVien/build/
