/HelloWorld/nbproject/private/
/HelloWorld/build/
/Xau_ky_tu/J03004_ChuanHoa_XauKyTu_1/nbproject/private/
/Xau_ky_tu/J03005_ChuanHoa_XauKyTu_2/nbproject/private/
/Xau_ky_tu/J05018_Bang_diem_HocSinh/nbproject/private/
/Xau_ky_tu/J05018_Bang_diem_HocSinh/build/
/Xau_ky_tu/J05020_SapXep_SinhVien_theolop/nbproject/private/
/Xau_ky_tu/J05021_SapXep_SinhVien_theoma/nbproject/private/
/Xau_ky_tu/J05022_LietKe_SinhVien_theoLop/build/
/Xau_ky_tu/J05023_LietKe_SinhVien_theoKhoa/nbproject/private/
/Xau_ky_tu/J05023_LietKe_SinhVien_theoKhoa/build/
/Xau_ky_tu/J05024_LietKe_SinhVien_theoNganh/nbproject/private/
